.App {
  text-align: center;
}
.card{
  background-color: rgb(175, 151, 199);
  border: 4px solid rgb(209, 201, 201);
  border-radius: 12px;
  margin: 4px;
  min-width: 29vw;
  width: auto;
  height: auto;
}
.cards-section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}